target/
*.class
*.ear
*.logs
*.iml
test.properties
dependency-reduced-pom.xml
src/test/resources/test.properties

# Mac Files
.DS_Store

#IntelliJ
.idea/*
!.idea/runConfigurations/

#Eclipse
.eclipse
.settings/
.project/
.settings
.project

# Log file
*.log

# Settings files
/src/test/resources/settings_files/settings_*

# LLM settings
.gemini/*
!.gemini/settings.json
!mcp.json
