target/
*.class
*.ear
*.logs
*.iml
test.properties
dependency-reduced-pom.xml
src/test/resources/test.properties

# Mac Files
.DS_Store

#IntelliJ
.idea/

#Eclipse
.eclipse
.settings/
.project/
.settings
.project

# Log file
*.log
src/main/resources/settings.json
src/main/resources/parentVaultSettings.json
src/test/resources/settings.json
src/test/resources/settingsOauth.json
src/test/resources/settingsOauthDiscovery.json
src/test/resources/settingsOauthDiscoveryIdpUsername.json
src/test/resources/settingsOauthToken.json
